html, body {
  height: 100%;
}

div#pinyin-cushion-app {
  height: 100%;
}

div.pinyin-cushion-editor {
  height: 100%;
}

div.left-container, div.right-container {
  height: 100%;
}

div.input-box {
  height: 100%;
}

div.input-box textarea {
  height: 90%;
}

div.display-box {
  font-size: 250%;
  height: 70%;
  overflow: scroll;
}

div.character-frequency-list {
  overflow: scroll;
  max-height: 85%;
}

div.feedback-box {
  height: 20%;
}
